@model AirlinesReservationSystem.DiscountDetail

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DiscountDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeDiscountId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeDiscountId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modifyDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modifyDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscountDetailId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
