@model IEnumerable<AirlinesReservationSystem.DiscountDetail>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeDiscountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.modifyDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FlightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeDiscountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.modifyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DiscountDetailId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DiscountDetailId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DiscountDetailId })
        </td>
    </tr>
}

</table>
