@model IEnumerable<AirlinesReservationSystem.Plane>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlaneName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirlineId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodeIATAPlane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PlaneName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirlineId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodeIATAPlane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PlaneId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PlaneId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PlaneId })
        </td>
    </tr>
}

</table>
