@model IEnumerable<AirlinesReservationSystem.Booking_Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PriceId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountBySeatClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountBySkymiles)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountByEarly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeatDetailByFlightId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReservationModId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FlightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PriceId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountBySeatClassId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountBySkymiles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountByEarly)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeatDetailByFlightId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReservationModId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Booking_TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.Booking_TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Booking_TicketId })
        </td>
    </tr>
}

</table>
