@model AirlinesReservationSystem.SeatNumber

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>SeatNumber</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plane.PlaneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.PlaneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatClass.SeatClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatClass.SeatClassName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeatNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatNo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SeatNumberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
