@model AirlinesReservationSystem.ViewModels.FlightViewModel
<div id="booking" class="container-fluid">
    <div>
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-5" style="display:contents">
                    <div class="booking-cta">
                        <h1>Book your flight today</h1>
                    </div>
                </div>
                <div class="col-md-7 col-sm-7">
                    <div class="booking-form">
                        @using (Html.BeginForm("Index", "Flights", FormMethod.Post, new { @class = "ui large form" }))
                        {
                            <div class="form-group">
                                <div class="form-checkbox">
                                    <label for="one-way">
                                        @Html.RadioButtonFor(model => model.Trip, "OneWay", new { @checked = true, @id = "one-way" })
                                        <span></span>One way
                                    </label>
                                    <label for="roundtrip">
                                        @Html.RadioButtonFor(model => model.Trip, "Round", new { @id = "roundtrip" })
                                        <span></span>Roundtrip
                                    </label>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flying from</span>
                                        @Html.DropDownListFor(model => model.Location_Depart, (IEnumerable<SelectListItem>)TempData["DataDepart"], "Select City", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Location_Depart, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Flyning to</span>
                                        @Html.DropDownListFor(model => model.Location_Arrival, (IEnumerable<SelectListItem>)TempData["DataArrival"], "Select City", htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Location_Arrival, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Departing</span>
                                        @Html.EditorFor(model => model.Time_Depart, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.Time_Depart, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        @Html.EditorFor(model => model.Time_Arrival, new { htmlAttributes = new { @class = "form-control", @type = "date" } })
                                        @Html.ValidationMessageFor(model => model.Time_Arrival, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Adults (18+)</span>
                                        <select class="form-control" name="Adults" , id="Adults">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Children (0-17)</span>
                                        <select class="form-control">
                                            <option>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-btn">
                                <button class="submit-btn">Show flights</button>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>

</div>

        </div>
        <div style="clear:both; margin-top:80px">

        </div>
