@model IEnumerable<AirlinesReservationSystem.Flight>

@{
                /**/

                ViewBag.Title = "Depart Flight";
                Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">
            <div class="table100">
                <h3 style="color:white">Flight Depart</h3>
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th class="column1">Plane</th>
                            <th class="column2">Router</th>
                            <th class="column3">Departing</th>
                            <th class="column4">Returning</th>
                            @{
                                List<SeatClass> seatClasses = new List<SeatClass>();
                                seatClasses = ViewBag.SeatClass;
                                int clNumber = 5;
                                string clName = "column";
                                foreach (var i in seatClasses)
                                {

                                    <th class=@String.Concat(clName,clNumber.ToString())>
                                        @Html.DisplayName(i.SeatClassName)
                                    </th>
                                    clNumber++;
                                }
                            }
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="column1">@Html.DisplayFor(modelItem => item.Plane.PlaneName)</td>
                                <td class="column2">@Html.DisplayFor(modelItem => item.Router.RouterName)</td>
                                <td class="column3">@Html.DisplayFor(modelItem => item.Dept_Time)</td>
                                <td class="column4"> @Html.DisplayFor(modelItem => item.Arr_Time)</td>
                                @{
                                    List<Price> Price = new List<Price>();
                                    Price = ViewBag.Price;
                                    List<DiscountDetail> Discount = new List<DiscountDetail>();
                                    Discount = ViewBag.Discount;
                                    int clNumber1 = 5;
                                    string clName1 = "column";
                                    foreach (var i in seatClasses)
                                    {
                                        List<AirlinesReservationSystem.ViewModels.InventoryTickets> quantityseat = new List<AirlinesReservationSystem.ViewModels.InventoryTickets>();
                                        quantityseat = ViewBag.Inventories;

                                        AirlinesReservationSystem.ViewModels.InventoryTickets inventoryTickets = new AirlinesReservationSystem.ViewModels.InventoryTickets();
                                        inventoryTickets = quantityseat.Where(x => x.FlightId == item.Flightid).Where(x => x.SeatClassId == i.SeatClassId).FirstOrDefault();

                                        List<Price> price = new List<Price>();
                                        price = Price.Where(x => x.FlightId == item.Flightid)
                                            .Where(x => x.SeatClassId == i.SeatClassId).ToList<Price>();

                                        List<DiscountDetail> discount = new List<DiscountDetail>();
                                        discount = Discount.Where(x => x.FlightId == item.Flightid)
                                            .ToList<DiscountDetail>();

                                        <td class=@String.Concat(clName1, clNumber1.ToString())>
                                            @{
                                                clNumber1++;
                                            }
                                            @{
                                                foreach (var x in price)
                                                {
                                                    foreach (var a in discount)
                                                    {
                                                        decimal PriceTotal = (decimal)(x.Price1 - (x.Price1 * a.Discount / 100));
                                                        <p style="color:mediumvioletred">Price: @PriceTotal.ToString()</p>
                                                        AirlinesReservationSystem.ViewModels.BookingViewModel Departflight = new AirlinesReservationSystem.ViewModels.BookingViewModel();


                                                        Departflight.DiscountId = a.DiscountId;
                                                        Departflight.PriceId = x.PriceId;
                                                        Departflight.Flightid = item.Flightid;
                                                        Departflight.SeatClassId = i.SeatClassId;

                                                        TempData["Depart" + item.Flightid + i.SeatClassId] = Departflight;
                                                        if (ViewBag.FlightArrival == null)
                                                        {
                                                            @Html.ActionLink(inventoryTickets.Inventory + " Seat left", "Booking", "Booking", new { FlightId = item.Flightid , SeatClassId = i.SeatClassId},null)
                                                        }
                                                        else
                                                        {
                                                            List<Flight> flightArrival = new List<Flight>();
                                                            flightArrival = ViewBag.FlightArrival;
                                                            TempData["FlightArrival"] = flightArrival;
                                                            @Html.ActionLink(inventoryTickets.Inventory + " Seat left", "ArrivalFlight", "Flights", new { FlightId = item.Flightid, SeatClassId = i.SeatClassId }, null)
                                                        }

                                                    }

                                                }
                                            }
                                        </td>

                                    }

                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




