@model AirlinesReservationSystem.Airports

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Airports</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportIATACode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportIATACode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AirportId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
