@model IEnumerable<AirlinesReservationSystem.Airports>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AirportName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AirportIATACode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AirportName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AirportIATACode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocationId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AirportId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AirportId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AirportId })
        </td>
    </tr>
}

</table>
