@model AirlinesReservationSystem.Flight

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plane.PlaneName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plane.PlaneName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Router.RouterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Router.RouterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arr_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arr_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
